body{
    background-color: gainsboro  
    
}
h1,h2,h3{
    color: rgb(0, 72, 255);
}
a:link,
a:visited {
    color: blue;
}

a:hover {
    text-decoration: none;
    color: red;
}
.special {
    color: red;
}
div#zentai {
}